---
import BcnIcon from "../../assets/bcnIcon.svg"
import BanbifIcon from "../../assets/banbifIcon.svg"
import CclIcon from "../../assets/cclIcon.svg"
import BcpIcon from "../../assets/bcpIcon.svg"
---

<section class="bg-[#0C1A2C] py-10 mb-4">
    <div class="container flex gap-x-10 justify-center items-center px-4 mx-auto">
        <BcnIcon width={129} height={40} />
        <BanbifIcon width={129} height={40} />
        <CclIcon width={129} height={40} />
        <BcpIcon width={129} height={40} class="hidden sm:block"/>
    </div>
</section>
