---

---
<section class="bg-[url(/images/trabajosBackground.webp)] w-full h-56 lg:h-80 bg-no-repeat bg-center bg-cover flex items-center justify-center">
    <div class="container flex items-center justify-center">
        <h1 class="font-archivo text-m-h1/[108%] text-white text-center max-w-[500px]
            sm:text-t-h2/[118%] lg:text-d-h2/[120%] lg:max-w-[800px]">
            Nuestros Socios de Negocio
        </h1>
    </div>
</section>
