---

---

<section class="bg-[#0C1A2C] text-[#DFDFDF]">
    <div class="lg:flex lg:flex-row-reverse lg:gap-x-15 ">
        <div class="w-full bg-[url(/images/grupo-image.webp)] bg-no-repeat bg-[length:140%] bg-[position:50%_50%] aspect-[320/249] lg:w-[50%] max-h-[500px]"></div>
        <div class="px-4 mt-8 pb-18 sm:flex sm:flex-col sm:items-center sm:pt-16 lg:w-[30%] lg:mt-0 lg:p-0 lg:justify-center lg:items-start
            lg:text-left text-center">
            <h1 class="text-white text-m-h2/[120%] font-archivo  mb-9
                sm:text-t-h1 sm:max-w-[390px] lg:text-d-h2">
                El mejor equipo
                de Consultoría y
                Asesoramiento en DX
            </h1>
            <p class="font-varela text-m-body/[121%]
                sm:max-w-[388px] sm:text-t-body lg:text-d-body">
                Integramos tecnología, procesos y personas para la transformación digital de tu negocio.

            </p>
        </div>
    </div>
</section>
