---
import IconLight from '../../assets/iconLight.svg'
import IconHearth from '../../assets/iconHearth.svg'
import IconLike from '../../assets/iconLike.svg'
---

<section class="flex flex-col items-center justify-center py-20 sm:py-24 lg:py-24 2xl:py-40">
    <div class="flex flex-col gap-6 justify-center items-center  max-w-[700px] lg:max-w-[900px] w-full  2xl:max-w-[1127px] 2xl:pl-0 text-blue-gray
        sm:items-start sm:flex-row sm:pl-0 lg:gap-20 sm:gap-x-25 gap-y-10">
        <div class="flex sm:flex-col lg:flex-row items-center justify-center gap-5  ">
            <div class='flex items-center justify-center bg-[#8D2733] h-[72px] w-[72px] rounded-full z-10 2xl:w-[108px] 2xl:h-[108px] order-2 lg:order-1 '>
                <IconLight width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px] sm:w-[32px] sm:h-[40px]" />
            </div>
            <p class="font-inter-bold text-m-body sm:text-t-body lg:text-d-body sm:text-center  lg:text-left lg:order-2">
            Innova, <br />Evoluciona y Crece
            </p>
        </div>
        <div class="flex sm:flex-col items-center justify-center gap-5 lg:flex-row order-3">
            <div class='flex   items-center justify-center bg-[#D04E5D] h-[72px] w-[72px] rounded-full z-10 2xl:w-[108px] order-2 2xl:h-[108px] sm:order-2 lg:order-1'>
                <IconHearth width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px] sm:w-[32px] sm:h-[40px]" />
            </div>
            <p class="font-inter-bold sm:text-center text-m-body sm:text-t-body lg:text-d-body  sm:order-1 lg:text-left">
            Crea Conexiones <br> con el Cliente
            </p>
        </div>
        <div class="flex items-center justify-center gap-5 sm:flex-col lg:flex-row order-2">
            <div class='flex items-center justify-center bg-blue-gray h-[72px] w-[72px] rounded-full  z-10 2xl:w-[108px] 2xl:h-[108px] '>
                <IconLike width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px] sm:w-[32px] sm:h-[40px]" />
            </div>
            <p class="font-inter-bold text-m-body sm:text-t-body lg:text-d-body sm:text-center lg:text-left  ">
            Hazlo <br class="sm:block hidden " />Excepcional
            </p>
        </div>
    </div>
</section>


