---
import LinkedinIcon from "../../assets/linkedin-icon.svg";
---
<section class="bg-[#0C1A2C] text-[#DFDFDF] py-38 px-4 flex flex-col items-center" id="equipo">

    <div
        class="flex flex-col  items-center lg:flex-row-reverse justify-center max-w-[800px] w-full lg:justify-between lg:max-w-[800px] gap-y-15"
    >
        <div class="sm:w-[50%] flex flex-col items-center justify-center text-center gap-y-7 lg:text-right lg:items-end">
            <h2 class="text-m-h2/[110%] sm:text-t-h2/[110%] lg:text-d-h2/[110%]  font-archivo max-w-[210px] lg:max-w-[350px]">Nuestro equipo de trabajo</h2>
            <p
                class="font-varela text-m-body/[140%] max-w-[288px] text-[#DFDFDF]   sm:text-t-body lg:text-d-body lg:max-w-[424px]"
            >
                Somos un equipo de expertos en consultoría, estrategia y desarrollo de productos, comprometidos con la innovación y el éxito de nuestros clientes. Combinamos experiencia, creatividad y metodologías ágiles para diseñar soluciones tecnológicas que impulsan el crecimiento y la transformación digital de las empresas.
            </p>
        </div>

        <figure class="w-[50%] flex flex-col items-center lg:items-center lg:w-fit">
            <img
                src="/images/alex-user.webp"
                alt="Imagen del usuario"
                class="w-[142px] h-[164px] mb-8 lg:w-[182px] lg:h-[210.2px] rounded-2xl"
            />
            <figcaption
                class="flex flex-col items-center justify-center gap-3  lg:justify-center sm:gap-x-8"
            >
                <div
                    class="flex flex-col justify-center items-center "
                >
                    <h5
                        class="font-inter-bold text-m-h2 text-center text-white sm:text-t-h2 lg:text-d-h3"
                    >
                        CEO & Founder
                    </h5>
                    <p
                        class="font-varela text-m-body text-white sm:text-t-body lg:text-d-body"
                    >
                        Alex Cruz
                    </p>
                </div>
                <a
                    href="https://www.linkedin.com/company/tukuy-labs"
                    class="w-fit cursor-pointer"
                >
                    <LinkedinIcon width={40} height={40} class="fill-white" />
                </a>
            </figcaption>
        </figure>
    </div>
</section>
