---
import NavLogo from '../../assets/nav-logo.svg';
---

<section
	class='py-20 px-4 sm:px-8 flex flex-col items-center justify-center lg:py-30'>
	<div
		class='container flex flex-col items-center justify-center lg:flex-row gap-x-14'>
		<div class='flex flex-col items-center'>
			<NavLogo
				width={288}
				height={43.44}
				class='mb-11 sm:w-[424px] sm:h-[63.96px]'
			/>
			<div
				class='text-center font-varela text-[15px]/[121%] text-[#646464] max-w-[424px] lg:text-left'>
				<p class='mb-6.5'>
					Nacimos con la misión de transformar negocios a través de la
					digitalizacion, innovación y tecnología. Trabajamos con
					pasión para ofrecer soluciones digitales innovadoras que se
					adaptan a las necesidades de cada cliente
				</p>
			</div>
		</div>
		<div
			class='bg-[url(/images/valores.jpg)] bg-no-repeat bg-[length:150%] bg-center aspect-[764/456] rounded-2xl mt-9
            w-full lg:max-w-[477px] lg:max-h-[284px] lg:mt-0'>
		</div>
	</div>
</section>
