<section
	class='bg-white py-28 flex flex-col items-center text-blue-gray sm:px-8'
	id='transformacion'>
	<div class='container'>
		<figure
			class='flex flex-col gap-y-12 justify-center items-center lg:flex-row'>
			<img
				src='/images/desarrollo_producto_max.webp'
				alt='Imagen de una junta de negocios'
				class='w-full order-2 max-w-[752px] sm:rounded-2xl lg:max-w-[581px]'
			/>
			<figcaption
				class='px-4 flex flex-col items-center gap-y-6 order-1 lg:max-w-[466px] lg:items-start'>
				<h3
					class='font-archivo text-m-h2/[110%] text-center mb-2
                    sm:text-t-h2 lg:text-d-h2/[110%] lg:text-left'>
					Estrategia y Desarrollo de Productos Digitales
				</h3>
				<ul
					class='text-m-body/[130%] font-varela text-center
                    sm:text-t-body/[140%] max-w-[450px]
                    lg:text-d-body/[140%] lg:text-left lg:max-w-[350px]'>
					<li class='list-none'>
						Del concepto al mercado: desarrollamos plataformas
						digitales, apps y soluciones SaaS escalables que
						fidelizan y generan ingresos.
					</li>
				</ul>
				<a
					href='/contacto'
					class='text-white px-11 py-2.5 bg-[#8D2733] text-m-btn rounded-lg hover:bg-[#691e27] transition-all duration-200
                        sm:text-t-btn
                        lg:text-d-btn'>
					<button type='button' class='w-full h-full cursor-pointer'>
						Solicitar
					</button>
				</a>
			</figcaption>
		</figure>
	</div>
</section>
