---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Aviso de Privacidad">
    <section class="font-varela px-4 sm:px-8 lg:px-12 container my-10 sm:my-16 ">
        <div class="max-w-[990px] mx-auto">
            <h1 class="text-4xl font-archivo text-blue-gray my-[20px] sm:my-[42px]">Aviso de Privacidad</h1>
            <p>En <strong>Tukuy</strong> (en adelante, “la Empresa”), con domicilio en <strong class="address">Av. Guillermo Prescott 137. San Isidro</strong>, estamos comprometidos con la protección de la privacidad y el adecuado tratamiento de los datos personales que usted nos proporcione en cumplimiento de lo establecido por la <strong>Ley N° 29733, Ley de Protección de Datos Personales</strong>, y su Reglamento.</p>

            <h2>1. Datos Personales Recopilados</h2>
            <p>La Empresa recopilará y tratará los siguientes datos personales proporcionados por el usuario a través de nuestro sitio web:</p>
            <ul>
                <li>Nombre completo</li>
                <li>Correo electrónico</li>
                <li>Número de teléfono</li>
                <li>Nombre de la compañía</li>
                <li>País</li>
                <li>Mensaje explicando la razón de contacto</li>
            </ul>

            <h2>2. Finalidad del Tratamiento de Datos</h2>
            <p>Los datos personales mencionados serán utilizados con las siguientes finalidades:</p>
            <ul>
                <li><strong>Contactar al usuario:</strong> para responder a consultas, solicitudes de información o contacto comercial.</li>
                <li><strong>Envío de comunicaciones comerciales:</strong> sobre nuestros productos y/o servicios, siempre que el usuario lo haya consentido expresamente.</li>
                <li><strong>Mejora del servicio:</strong> análisis de las interacciones del usuario con la web para mejorar nuestros servicios y la experiencia del usuario.</li>
            </ul>

            <h2>3. Legitimidad del Tratamiento</h2>
            <p>El tratamiento de sus datos personales se realiza sobre la base del <strong>consentimiento</strong> que usted nos otorga al proporcionar voluntariamente su información a través de los formularios de nuestro sitio web. La Empresa se compromete a solicitar su consentimiento para cualquier uso distinto de los indicados en este aviso de privacidad.</p>

            <h2>4. Almacenamiento y Seguridad</h2>
            <p>La Empresa asegura la <strong>confidencialidad y protección</strong> de los datos personales proporcionados por los usuarios mediante la implementación de <strong>medidas técnicas y organizativas</strong> que garanticen su seguridad y eviten su alteración, pérdida, tratamiento o acceso no autorizado.</p>

            <h2>5. Derechos de los Titulares de los Datos</h2>
            <p>De conformidad con la <strong>Ley N° 29733</strong>, usted tiene derecho a:</p>
            <ul>
                <li><strong>Acceder</strong> a sus datos personales en posesión de la Empresa.</li>
                <li><strong>Rectificar</strong> sus datos en caso de ser inexactos o incompletos.</li>
                <li><strong>Cancelar</strong> o solicitar la eliminación de sus datos cuando no sean necesarios para las finalidades señaladas.</li>
                <li><strong>Oponerse</strong> al tratamiento de sus datos en los casos previstos por la ley.</li>
            </ul>
            <p>Para ejercer estos derechos, o para cualquier consulta relacionada con la protección de sus datos personales, puede comunicarse con nosotros al correo electrónico <strong>comercial@tukuylabs.com</strong>, o bien, dirigirse a nuestra dirección física indicada al inicio de este aviso.</p>

            <h2>6. Conservación de los Datos</h2>
            <p>Sus datos personales serán <strong>conservados</strong> por el tiempo que sea necesario para cumplir con las finalidades descritas, a menos que la ley disponga lo contrario o usted solicite su eliminación previamente, en cuyo caso se procederá conforme a las normativas vigentes.</p>

            <h2>7. Modificaciones a la Política de Privacidad</h2>
            <p>La Empresa se reserva el derecho de <strong>modificar</strong> el presente aviso de privacidad en cualquier momento, respetando las disposiciones legales vigentes. Las modificaciones serán publicadas en nuestro sitio web y entrarán en vigor desde su publicación.</p>

            <p><strong>Fecha de última actualización:</strong> <strong class="update-date">03-08-2025</strong></p>

        </div>
    </section>

</Layout>

<style>
p, li {
    @apply text-[15px] 
}

h2 {
    @apply text-[20px] text-[#364667] my-[24px] ;
}
li{
    list-style: square inside ;
}

ul {
    @apply m-[16px]
}

strong {
    @apply text-[#0a152d]
}

</style>
