---
import Layout from '../layouts/Layout.astro';
import Caracteristicas from '../components/servicios/Caracteristicas.astro';
import Servicios2 from '../components/servicios/Servicio2.astro';
import ServiciosHero from '../components/servicios/ServiciosHero.astro';
---

<Layout title='Servicios'>
	<ServiciosHero />
	<Servicios2 />
	<section
		class='bg-[#0C1A2C] py-28 flex flex-col items-center text-blue-gray sm:px-8'
		id='innovacion'>
		<div class='container'>
			<figure
				class='flex flex-col gap-y-12 justify-center items-center lg:flex-row'>
				<img
					src='/images/servicio3.webp'
					alt='Imagen de una junta de negocios'
					class='w-full object-top sm:max-w-[761px] sm:rounded-2xl lg:max-w-[581px] max-h-[281px] lg:max-h-[233px]'
				/>
				<figcaption
					class='text-white px-4 flex flex-col items-center gap-y-6 lg:max-w-[466px] lg:items-end'>
					<h3
						class='font-archivo text-m-h2/[110%] text-center mb-2 sm:text-t-h2 lg:text-d-h2/[110%] lg:text-right'>
						Innovación Tecnológica Aplicada
					</h3>
					<ul
						class='text-m-body/[130%] font-varela text-center text-[#dfdfdf] max-w-[450px]
                    sm:text-t-body/[160%]
                    lg:text-d-body/[140%] lg:text-right lg:max-w-[350px]'>
						<li class='list-none'>
							Tecnología avanzada, resultados reales: IA,
							analítica y automatización para resolver desafíos y
							crear oportunidades.
						</li>
					</ul>
					<a
						href='/contacto'
						class='px-11 py-2.5 bg-[#8D2733] text-m-btn rounded-lg hover:bg-[#691e27] transition-all duration-200
                        sm:text-t-btn
                        lg:text-d-btn'>
						<button
							type='button'
							class='w-full h-full cursor-pointer'>
							Solicitar
						</button>
					</a>
				</figcaption>
			</figure>
		</div>
	</section>
	<Caracteristicas />
</Layout>
