<section
	class="h-[70vh] lg:h-[500px] bg-[url(/images/display-image.webp)] bg-cover bg-[30%] bg-no-repeat text-white flex flex-col items-center justify-center sm:px-8 px-4">
	<div
		class="flex flex-col items-center sm:items-end justify-center w-full sm:max-w-[750px] lg:max-w-[1000px]">
		<h1
			class="font-archivo text-m-display/[45px] text-center sm:text-right sm:text-t-display/[115%] lg:text-t-display sm:max-w-[575px]">
			<!-- <span>  Desarrollo de <br /> </span> -->
			<!-- <span>productos <br /></span> -->
			<!-- <span class="px-4 bg-[#344968] text-white"> a la medida  <br /> </span> -->
			<!-- <span>de tu negocio</span> -->
			Impulsamos la transformación digital de tu negocio
		</h1>
		<span class="font-varela text-t-body mt-3 lg:mt-5 text-center"
			>Estrategias innovadoras y tecnología personalizada.</span
		>
	</div>
</section>
