---

---

<section
	class='px-4 font-varela flex items-center justify-center py-20 sm:py-26'>
	<div
		class='flex flex-col sm:flex-row justify-center lg:max-w-[900px] w-full 2xl:max-w-[1127px]'>
		<div
			class='flex flex-col gap-y-23 justify-center sm:gap-4 sm:flex-row md:justify-between md:gap-20 lg:gap-30'>
			<div
				class='flex flex-col items-center justify-center align-center gap-6'>
				<img
					src='/images/desarrollo_producto.webp'
					alt='estrategia de producto'
					class='2xl:w-[257px] 2xl:h-[246.86px] w-[142px] h-[146px] object-cover rounded-xl'
				/>
				<div
					class='flex flex-col items-center justify-center align-center gap-5'>
					<h2
						class='font-inter-bold text-blue-gray text-m-h5 sm:text-t-h5 text-center lg:text-d-h5'>
						<!-- ESTRATEGIA DE<br /> PRODUCTO -->
						Transformación Digital <br />Estratégica
					</h2>
					<p
						class='text-center font-varela leading-[120%] text-m-body sm:text-t-body text-blue-gray max-w-[228px] sm:max-w-[220px] 2xl:hidden'>
						<!-- Diseñamos y alineamos estrategias innovadoras para
						transformar ideas en productos tecnológicos exitosos -->
						Impulsamos tu transformación digital con roadmaps de innovación,
						procesos eficientes y tecnologías emergentes.
					</p>
					<a
						href='/servicios'
						class='px-[34px] font-inter-bold py-[7px] text-center bg-[#2D4A76] text-white rounded-xl text-d-btn sm:text-t-btn lg:text-d-btn hover:bg-[#1d304d] transition-all duration-200'>
						<button
							type='button'
							class='w-full h-full cursor-pointer'>
							INFORMACIÓN
						</button>
					</a>
				</div>
			</div>
			<div
				class='flex flex-col items-center justify-center align-center gap-6'>
				<img
					src='/images/estrategia_producto.webp'
					alt='estrategia de producto'
					class='2xl:w-[257px] 2xl:h-[246.86px] w-[142px] h-[146px] object-cover rounded-xl'
				/>
				<div
					class='flex flex-col items-center justify-center align-center gap-5'>
					<h2
						class='font-inter-bold text-blue-gray text-m-h5 sm:text-t-h5 text-center lg:text-d-h5'>
						<!-- ESTRATEGIA DE<br /> PRODUCTO -->
						Estrategia y Desarrollo <br /> de Productos Digitales
					</h2>
					<p
						class='text-center font-varela leading-[120%] text-m-body sm:text-t-body text-blue-gray max-w-[228px] sm:max-w-[220px] 2xl:hidden'>
						<!-- Diseñamos y alineamos estrategias innovadoras para
						transformar ideas en productos tecnológicos exitosos -->
						Del concepto al mercado: desarrollamos plataformas digitales,
						apps y soluciones SaaS escalables que fidelizan y generan
						ingresos.
						<!-- y potenciamos la competitividad -->
						<!-- a través de tecnologías emergentes. -->
					</p>
					<a
						href='/servicios'
						class='px-[34px] font-inter-bold py-[7px] text-center bg-[#2D4A76] text-white rounded-xl text-d-btn sm:text-t-btn lg:text-d-btn hover:bg-[#1d304d] transition-all duration-200'>
						<button
							type='button'
							class='w-full h-full cursor-pointer'>
							INFORMACIÓN
						</button>
					</a>
				</div>
			</div>
			<div
				class='flex flex-col items-center justify-center align-center gap-6'>
				<img
					src='/images/servicio3inicio.webp'
					alt='image of something good'
					class='2xl:w-[257px] 2xl:h-[246.86px] object-cover w-[142px] h-[146px] rounded-xl'
				/>
				<div
					class='flex flex-col items-center justify-center align-center gap-5'>
					<h2
						class='font-inter-bold text-blue-gray text-m-h5 sm:text-t-h5 text-center lg:text-d-h5'>
						<!-- DESARROLLO DE<br /> PRODUCTO -->
						Innovación Tecnológica <br /> Aplicada
					</h2>
					<p
						class='text-center font-varela leading-[120%] text-m-body sm:text-t-body text-blue-gray max-w-[228px] sm:max-w-[220px] 2xl:hidden'>
						<!-- Desde la concepción hasta el lanzamiento, convertimos
						ideas en productos tecnológicos funcionales y
						escalables. -->
						Tecnología avanzada, resultados reales: IA, analítica y automatización
						para resolver desafíos y crear oportunidades.
					</p>
					<a
						href='/servicios'
						class='px-[34px] font-inter-bold py-[7px] text-center bg-[#2D4A76] text-white rounded-xl text-d-btn sm:text-t-btn lg:text-d-btn hover:bg-[#1d304d] transition-all duration-200'>
						<button
							type='button'
							class='w-full h-full cursor-pointer'>
							INFORMACIÓN
						</button>
					</a>
				</div>
			</div>
		</div>
		<!-- <aside
			class="hidden lg:flex flex-col items-end justify-center gap-y-6 text-right lg:max-w-[253px] 2xl:max-w-[352px]">
			<h3 class="text-d-h3/[110%] text-blue-gray font-inter-extrabold">
				ESTRATEGIA & DESARROLLO DE PRODUCTO
			</h3>
			<p class="text-d-body text-blue-gray">
				Potenciamos la innovación con una combinación estratégica y
				técnica. Definimos el rumbo de tu producto y lo llevamos a la
				realidad con un desarrollo ágil y eficiente, garantizando
				soluciones tecnológicas competitivas y alineadas con las
				demandas del mercado
			</p>
		</aside> -->
	</div>
</section>
