---
---
<div class="font-archivo flex backdrop-blur-[10px] flex-col justify-center items-center text-center text-[20px]/[120%] drop-shadow-sm  absolute top-0 bg-[#16263E]/[80%] w-full py-[15px] 
sm:w-fit sm:right-0 sm:bottom-[40px] sm:top-auto sm:bg-[#16263E] sm:px-[50px] sm:rounded-l-[10px] sm:text-left sm:py-[27px]
lg:bottom-auto lg:top-[40px]">
    <h2 class="text-white font-bold">
        Nuestros pilares
    <span class="text-[#FF5A5F] block font-semibold">fundamentales</span>
    </h2>
</div>
