---
import IconLight from '../../assets/iconLight.svg'
import IconHearth from '../../assets/iconHearth.svg'
import IconLike from '../../assets/iconLike.svg'
import ValoresDescription from './ValoresDescription.astro'
---
<section class=" relative bg-[url(/images/valores.jpg)] bg-[auto_500px] bg-no-repeat bg-center  sm:bg-cover flex flex-col items-center justify-center py-30 sm:py-24 lg:py-24 2xl:py-40">
    <ValoresDescription />
    <div class="flex flex-col gap-6 justify-center items-center sm:items-start max-w-[700px] lg:max-w-[900px] w-full sm:pl-15 2xl:max-w-[1127px] 2xl:pl-0 text-blue-gray">
        <div class="flex items-center justify-center">
            <div class='flex items-center justify-center bg-[#8D2733] h-fit w-fit rounded-full p-[15px] z-10 2xl:w-[108px] 2xl:h-[108px]'>
                <IconLight width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px]" />
            </div>
            <div class="bg-white rounded-r-[30px] h-fit py-3 w-[230px] flex justify-center items-center -ml-4 z-0 2xl:py-5">
                <p class="font-inter-bold text-[13px]  ">{'Innova, Evoluciona & Crece'}</p>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class='flex order-2 items-center justify-center bg-[#D04E5D] h-fit w-fit rounded-full p-[15px] z-10 2xl:w-[108px] 2xl:h-[108px]'>
                <IconHearth width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px]" />
            </div>
            <div class="bg-white order-1 rounded-l-[30px] h-fit py-3 w-[230px] flex justify-center items-center -mr-4 z-0 2xl:py-5">
                <p class="font-inter-bold text-[13px]">Crea Conexiones con el Cliente</p>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class='flex items-center justify-center bg-blue-gray h-fit w-fit rounded-full p-[15px] z-10 2xl:w-[108px] 2xl:h-[108px]'>
                <IconLike width={30} height={33} class="fill-white 2xl:w-[52px] 2xl:h-[56px]" />
            </div>
            <div class="bg-white rounded-r-[30px] h-fit py-3 w-[230px] flex justify-center items-center -ml-4 z-0 2xl:py-5">
                <p class="font-inter-bold text-[13px]">Hazlo Excepcional</p>
            </div>
        </div>
    </div>
</section>
